
numpy==1.26
uvicorn
fastapi
loguru
ollama
gradio
diffusers
einops
jaxtyping
omegaconf
accelerate
xformers==0.0.29
spconv-cu121
kaolin @ https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu121/kaolin-0.17.0-cp310-cp310-linux_x86_64.whl
opencv-python
mysql-connector-python
imageio
easydict
rembg
onnxruntime
transformers
open3d
plyfile
utils3d
nvdiffrast
peft
accelerate