version: '3.8'

services:
  mysql_db:    
    image: mysql:8.0
    container_name: mv-adapter-mysql
    restart: always
        
    ports:
      - "3306:3306"
    
    environment:      
      MYSQL_ROOT_PASSWORD: root
            
      MYSQL_DATABASE: text_to_model_db
            
      MYSQL_USER: admin
            
      MYSQL_PASSWORD: admin
        
    volumes:
      - mysql_data:/var/lib/mysql            
      - ./init_db:/docker-entrypoint-initdb.d

volumes:
  mysql_data: